In [2]:
#import dependencies
import pandas as pd

In [7]:
# read in the csv file
city_data = pd.read_csv('resources/cities.csv')

In [8]:
city_data

,City,Country,City ID,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,Hit,IQ,95788,33.64,42.83,44.60,67,0,10.63
1,Hobart,AU,2163355,-42.88,147.33,66.72,35,84,20.80
2,Rikitea,PF,4030556,-23.12,-134.97,79.11,77,0,10.22
3,Klaksvik,FO,2618795,62.23,-6.59,44.60,93,100,13.87
4,Cape Town,ZA,3369157,-33.93,18.42,59.41,82,40,5.82
...,...,...,...,...,...,...,...,...,...
570,Gwembe,ZM,917011,-16.50,27.61,62.47,89,0,2.82
571,Kuching,MY,1735634,1.55,110.33,84.13,79,75,6.93
572,San Luis,AR,3837056,-33.30,-66.34,82.33,24,0,14.41
573,Sambava,MG,1056899,-14.27,50.17,71.71,96,96,2.01
574,Vigrestad,NO,3131824,58.57,5.70,42.28,100,75,9.17

In [9]:
#export to html file
city_data.to_html('resources/city_data.html')